<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi To Do app</title>
</head>
<body>
    <h1>Tareas de Guillermo</h1>
    <h3>Pendientes</h3>
    <h3>En proceso</h3>
    <h3>Finalizado</h3>

    <table>
        <tbody>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
          </tr>
          <tr>
            <td> Acabar Programación Avanzada. </td>
            <td> Hacer una lección diaria</td>
          </tr>
        </tbody>
      </table>
      <h3>En proceso</h3>
      <table>
        <tbody>
          <tr>
            <th>Programar en django</th>
            <th>Leer documentación</th>
          </tr>
          <tr>
            <td>Crear UX de proyecto popcornhour</td>
            <td> Diseñar en Figma</td>
          </tr>
        </tbody>
      </table>
      
      <h3>Finalizado</h3>
      <table>
        </tbody>
          <tr>
            <th>API</th>
            <th>API FLASK</th>
          </tr>
          <tr>
            <td> Documentar proyecto API </td>
            <td> se creó archivo en Markdown </td> 
          </tr>
        </tbody>
      </table>
</body>
</html>